/* .success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .gif-container {
    margin-bottom: 20px;
    max-width: 200px;
    align-items: center;
  }
   */
  /* .confirmation-message {
    text-align: center;
    font-weight: bold;
  } */
  
  /* @media (max-width: 768px) {
    .success-container {
      padding: 20px; 
    }
  
    .gif-container {
      max-width: 150px; 
    }
  } */
  