
.AIpage{
    background-color: #000605;
    height: 100%;
}
.userdetails{
    color: var(--whitecolor);
}

.webcamera{
   margin-top: 15px;
}

.camera{
    width: '640px';
    height: '480px';
    border: '2px solid #ccc';
}
.videobtn{
    background-color: var( --secondarycolor);
    border-radius: 30px;
    color: var(--whitecolor);
    padding: 10px;
}